# thymeleaf
spring:
  thymeleaf:
    encoding: UTF-8
    mode: HTML5
    cache: false
    servlet:
      content-type: text/html
  banner:
    charset: UTF-8
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  datasource:
    password: root
    username: root
    url: jdbc:mysql://localhost:3306/myshop?useUnicode=true&characterEncoding=utf-8&serverTimezone=UTC
    type: com.alibaba.druid.pool.DruidDataSource
    # 初始化大小，最小，最大
    initialSize: 5
    minIdle: 5
    maxActive: 20
    # 配置获取连接等待超时的时间
    maxWait: 60000
    # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
    timeBetweenEvictionRunsMillis: 60000
    # 配置一个连接在池中最小生存的时间，单位是毫秒
    minEvictableIdleTimeMillis: 300000
    validationQuery: SELECT 1 FROM DUAL
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    # 配置监控统计拦截的filters,去掉监控界面sql无法统计，‘wall’用于防火墙
    # filters: stat,wall,log4j
    maxPoolPreparedStatementPerConnectionSize: 20
    userGlobalDataSourceStat: true
    # 通过connectProperties属性来打开mergeSql功能；慢SQL记录
    connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=500
# server
server:
  port: 8080
# log
logging:
  level:
    com.xupt: trace
  path: /log



# mybatis
mybatis:
  configuration:
    map-underscore-to-camel-case: true
# 七牛云
qiniu:
  accessKey: w_8Sa-BkabNGyD5ymN1MDno-VHNwjaYM2SN2_KY3
  secretKey: 9Hq8hUj_iv54njRyqmQxmr5791_2RiQ-_DQe_dlQ
  bucket:  oc-bucket
  path: psic7eu47.bkt.clouddn.com
